{% extends 'layout.html' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
<div class="row">
  <h1 class="text-center">Leaderboard</h1>
</div>
<div class="row">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Total Questions</th>
      <th scope="col">Not Attempt</th>
      <th scope="col">Correct</th>
      <th scope="col">Incorrect</th>
      <th scope="col">Total Marks</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ result.user.name }}</td>
      <td>{{ result.total_number }}</td>
      <td>{{ result.not_attempt }}</td>
      <td>{{ result.correct }}</td>
      <td>{{ result.incorrect }}</td>
      <td>{{ result.correct }}/{{ result.total_number }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
