{% extends 'layout.html' %}
{% block title %}Quiz{% endblock %}
{% block body %}
<form method="post" action="{{ url_for('main.quiz') }}">
   <h1 class="text-center">
      Quiz
   </h1>
   {% for q in questions %}
  <div class="card border-info">
     <div class="card-header bg-info text-white">Question {{loop.index}}</div>
   <div class="card-body">
      <h5 class="user-select-none">{{ q.question }}</h5>
      <input type="hidden" name="q{{loop.index}}" value="{{q.id}}">
      <div class="form-check">
         <input class="form-check-input" type="radio" name="q{{loop.index}}o" id="q{{loop.index}}o1" value="A">
         <label class="form-check-label" for="q{{loop.index}}o1">
            {{ q.option1 }}
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="q{{loop.index}}o" id="q{{loop.index}}o2" value="B">
         <label class="form-check-label" for="q{{loop.index}}o2">
            {{ q.option2 }}
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="q{{loop.index}}o" id="q{{loop.index}}o3" value="C">
         <label class="form-check-label" for="q{{loop.index}}o3">
            {{ q.option3 }}
         </label>
      </div>
      <div class="form-check">
         <input class="form-check-input" type="radio" name="q{{loop.index}}o" id="q{{loop.index}}o4" value="D">
         <label class="form-check-label" for="q{{loop.index}}o4">
            {{ q.option4 }}
         </label>
      </div>
   </div>
   </div>
   <br>
   {% endfor %}
   <br>
   <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">I confirmed.</label>
  </div>
  <br>
  <button type="submit" class="btn btn-primary w-100" {% if not show %}onclick="quiz_complete(); return false;"{% endif %}>Submit</button>
</form>
<script>
   const quiz_complete = () => {
      alert("You already done this quiz, you can't attempt any more.");
   }
</script>
{% endblock %}
